/* reset */
h1, h2, h3{
    letter-spacing: 3px;
}
body{
    font-family: 'Fresca', sans-serif;
}
p, a, li{
    font-family: 'Nunito', sans-serif;
}
ul li{
    list-style: none;
    
}
a{
    text-decoration: none;
}
.reset-col{
    padding: 0;
}
.reset-border{
    border-radius: 0;
    padding: 5px; 
}
.head-logo, .users-login, .users-login .login-btn{
    display: initial;
}
.head-logo{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 3px;
    margin-right: 120px;
    
    /* text-transform: capitalize; */
}
.top{
    background:  #dfa700;
    color: #fff;
    padding-bottom: 10px; 
}
.top a{
    color: #fff;
}
.login-btn{
    color: #383838;
    background-color: #fff;
    font-weight: bold;
    padding: 7px 10px;
    display: inline;
    border-radius: 3px;
}
.top .mini-menu{
    padding-top: 10px;
}
.top ul li{
    padding: 8px;
    margin: 5px;
    display: inline;
}
.mini-menu  .active{
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 3px;
}

/* search-bar */
.search-bar{
    background: #f7f7f7;
    padding: 45px;
}

/* hotel-type */
.hotel-type{
    padding: 45px 0;
}
.hotel-type h3, #popular_destinations h3{
    padding-bottom: 10px;
}
.hotel-type img{
    border-radius:3px;
    padding-bottom: 5px; 
    width: 100%;
    height: 9pc;
    object-fit: cover;
}


#popular_destinations {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 115px;
}
#popular_destinations .c-box {
    position: relative;
}
.img-fluid {
    max-width: 100%;
    /* height: 60%; */
    height: 356px;
    width: 100%;
    object-fit: cover;
}
#popular_destinations .c-box article {
    position: absolute;
    bottom: 0px;
    color: rgb(255, 255, 255);
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    transition: all 0.3s ease 0s;
}
#popular_destinations .c-box span {
    font-size: 18px;
    margin-bottom: 5px;
}
#popular_destinations .c-box .v-a {
    position: absolute;
    bottom: -100px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    left: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#popular_destinations .c-box:hover article .v-a {
    bottom: 12px;
}

.subscribe{
    background-color: #5bcbda;
    color: #fff;
    padding:  40px 20px;
    margin-bottom: 0px;
}
.main-footer{
    color: #fff;
    background-color: #b0a5a5;
    padding: 20px 0;
}

.foot{
    color: #fff;
    background-color: #615e5e;
    padding: 20px 0;
}



.main-footer a:hover{
    background: #000;
    color: #fff;
}
.downloadButton {
    background: #7f7f7f;
    display: inline-block;
    font-size: 30px;
    border-radius: 100px;
    padding: 7px 16px;
    min-width: 160px;
    max-width: 170px;
    max-height: 52px;
    overflow: hidden;
    color: #fff;
    transition: background .3s ease;
    margin-right: 12px;
    box-sizing: border-box;
}
.footerAppIcons__appIcon, .appText {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
}
.footerAppIcons__appIcon {
    height: 22px;
    width: 22px;
    margin-right: 6px;
    fill: #fff;
}
.u-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.appStoreName {
    font-size: 16px;
    display: block;
    color: #fff;
}
.findUs{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.findUs ul li, .find ul li{
    display: block;
    padding-bottom: 4px;
}


/* room-detail */
.side-bar .booking-map-block {
    border: 1px solid #e6e7e8;
}

.side-bar .booking-map-block {
    margin: 60px 0;
}
.side-bar .booking-map-block .selected-price {
    background: #5bcbda;
    color: white;
}
.side-bar .booking-map-block .selected-price {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 8px 23px 6px;
}
.side-bar .booking-map {
    padding: 35px 23px 40px;
}
#single_tour_feat ul {
    padding: 0;
    margin: 0 0 30px;
    display: table;
    border-bottom: 2px solid #555;
}
#single_tour_feat ul li {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px 20px;
    white-space: nowrap;
}
#single_tour_feat ul li i {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
}
.content-side{
    margin: 60px 0;
}
.hotel-img img{
    width: 100%;
    height: 367px;
    object-fit: cover;
}
.hotel-img{
    padding-bottom: 20px;
}
ul.list_ok {
    margin: 0 0 20px;
    padding: 0;
    line-height: 22px;
}
ul.list_ok li {
    position: relative;
    padding-left: 25px;
}
ul.list_ok li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 14px;
    content: "\f00c";
    color: #e04f67;
    position: absolute;
    left: 0;
    top: 0;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}
ul.list_icons {
    margin: 0 0 20px;
    padding: 0;
}
.room-img img{
    width:100%;
    height: 117px;
    object-fit: cover;
}
.btn_1, a.btn_1 {
    color: #fff;
    background: #51bce6;
    padding: 7px 20px;
    transition: all .3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 700;
}
#score_detail {
    font-size: 14px;
    margin-bottom: 15px;
}
#score_detail span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 2px solid #555;
    line-height: 42px;
    font-size: 14px;
    color: #555;
    margin-right: 5px;

    text-align: center;
}
#score_detail span, .score span, a.btn_collapse {
    display: inline-block;
    font-weight: 700;
}
#score_detail small {
    color: #999;
}
#rating_summary ul li .rating {
    display: inline-block;
    font-size: 14px;
    float: right;
}
.rating .voted {
    color: #F90;
}
.review_strip_single {
    position: relative;
    padding: 30px 0 20px;
    margin: 30px 0 25px;
}

 .review_strip_single {
    border-bottom: 1px solid #ddd;
}
.review_strip_single img {
    top: -15px;
    position: absolute;
    left: 0;
    border: 4px solid #fff;
}
.review_strip_single small {
    float: right;
    font-size: 12px;
    margin-top: -10px;
    font-style: italic;
}
#single_tour_desc h4 {
    line-height: 20px;
    font-size: 18px;
}

.review_strip_single h4 {
    font-size: 18px;
    margin: -12px 0 35px 90px;
    padding: 0;
}
.review_strip_single .rating {
    font-size: 16px;
}
.review_strip_single.last {
    margin-bottom: 0;
    border-bottom: 0;
}
.box_style_1{
    margin-top: 70px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 30px;
}
.box_style_1 h3.inner {
    margin: -30px -30px 20px;
    background-color: #565a5c;
    padding: 10px 20px 10px 18px;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-top-left-radius: 3px;
    text-align: center;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.form-control:disabled.booking_date, .form-control:disabled.booking_time, .form-control[readonly].booking_date, .form-control[readonly].booking_time {
    background-color: #fff;
    opacity: 1;
}
.numbers-row {
    width: 97px;
    overflow: visible;
    position: relative;
    height: 40px;
}
input.qty2 {
    width: 35px;
    border-radius: none;
    left: 31px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}
.numbers-row, input.qty2 {
    position: relative;
    height: 40px;
}
.inc {
    background: url(../images/plus.png) center center no-repeat #fff;
    right: 0;
    top: 0;
    border: 1px solid #ccc;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dec {
    background: url(../images/minus.png) center center no-repeat #fff;
    border: 1px solid #ccc;
    left: 0;
    top: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.button_inc {
    position: absolute;
    width: 33px;
    height: 40px;
    z-index: 9;
}
.button_inc {
    text-indent: -9999px;
    cursor: pointer;
}
.btn_full, a.btn_full {
    border: none;
    color: #fff;
    width: 100%;
    background: #85c99d;
    padding: 12px 20px;
    transition: all .3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.btn_full, a.btn_full, a.btn_full_outline {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    font-family: inherit;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center;
    outline: 0;
}
a.btn_full_outline {
    color: #85c99d;
    background: 0 0;
    border: 2px solid #85c99d;
    padding: 10px 20px;
    transition: all .3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



/* all-hotels */
.mega-search{
    margin-top: 60px;
}
.side-bar .filter-block {
    background: #5bcbda;
    padding: 33px 25px 50px;
}
.side-bar .filter-block h3, .side-bar .filter-block p {
    color: white;
}
.side-bar .filter-block h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0px;
}
.side-bar .filter-block p {
    font-size: 13px;
}
.side-bar .filter-block .panels-group {
    margin: 30px 0px 25px;
}
.side-bar .filter-block .panel-default {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 13px;
}
.side-bar .filter-block .panel-heading {
    background: white;
    border: 0px;
    padding: 0px;
    position: relative;
}
.side-bar .filter-block .panel-heading a {
    color: #808285;
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.side-bar .filter-block .panel-heading span {
    color: #e62a2b;
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 6px;
}
.side-bar .filter-block .panel-heading .fa-angle-down {
    font-size: 22px;
    margin-top: 2px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}
.panel-body {
    padding: 15px;
}
.side-bar .filter-block .panel-body {
    border-top: 1px solid #ddd;
    background: #f5f5f5;
}
.list-unstyled {
    padding-left: 0;
}
.custom-check input[type="checkbox"] {
    display: none;
}
.side-bar .filter-block .panel-body ul li label {
    font-weight: normal;
    font-size: 13px;
}
.custom-check input[type="checkbox"] + label span, .custom-check input[type="checkbox"]:checked + label span {
    transition: background-color .2s linear;
    color: white;
}
.custom-check input[type="checkbox"] + label span {
    background-color: #7e7e7e;
}
.custom-check input[type="checkbox"]:not(:checked) + label .fa-check {
    display: none;
}
.custom-check input[type="checkbox"] + label span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: -2px 15px 0 0;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    padding-top: 1px;
}
.side-bar .filter-block .price-slider input {
    background: transparent;
    border: 0px;
}
.side-bar .filter-block .price-slider input {
    text-align: center;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}
.side-bar .filter-block .price-slider .ui-widget.ui-widget-content {
    border-radius: 0px;
    border: 0px;
    background: #9b9b9b;
}
.side-bar .filter-block .ui-slider-horizontal {
    height: .4em;
}
.side-bar .filter-block .price-slider .ui-widget-header {
    background: #e62a2b;
    border: 1px solid #e62a2b;
}
.side-bar .filter-block .ui-slider .ui-slider-handle {
    width: .85em;
    height: .93em;
}
.side-bar .filter-block .ui-slider .ui-slider-handle {
    width: .85em;
    height: .93em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    /* width: 1.2em; */
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}
.side-bar .support-block {
    background: #f1f2f2;
    color: #808285;
    padding: 33px 25px 50px;
}
.side-bar .support-block h3 {
    font-size: 25px;
    font-weight: bold;
}
@media (min-width: 992px){
.support-block {
    margin-top: 40px;
}}
.side-bar .support-block p {
    color: #808285;
}
.side-bar .support-block p {
    font-size: 13px;
}
.side-bar .support-contact span {
    font-size: 22px;
    margin-right: 13px;
    float: left;
}
.side-bar .support-contact p {
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
}
.list-block {
    margin-bottom: 40px;
}
.main-block {
    transition: .4s;
}
.list-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.list-block .list-img {
    width: 100%;
}
.list-img {
    position: relative;
    overflow: hidden;
    -webkit-flex: 1 0 15%;
    -ms-flex: 1 0 15%;
    flex: 1 0 15%;
}
.list-img img {
    height: 100%;
}
.main-img img {
    width: 100%;
    transition: .4s;
}
.list-info {
    -webkit-flex: 1 0 28%;
    -ms-flex: 1 0 28%;
    flex: 1 0 28%;
}
.list-block .main-mask {
    bottom: 20px;
}
.main-img .main-mask {
    position: absolute;
    bottom: 0px;
    width: 100%;
     background: rgba(0,0,0,0.8);
}
.offer-price-1 {
    font-size: 14px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 18px 11px;
}
.offer-price-1 li.price {
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.offer-price-1 li.price .divider, .offer-price-1 li.price .pkg {
    color: #b6b6b6;
}
.offer-price-1 li.price .divider {
    margin: 0px 8px;
    font-size: 14px;
    position: relative;
    top: -3px;
}
.offer-price-1 li.price .pkg {
    font-size: 14px;
    position: relative;
    top: -3px;
}
.offer-price-1 li.rating {
    float: right;
    font-size: 0.98em;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.rating .fa.orange {
    color: #e62a2b;
}
.rating .fa.lightgrey {
    color: #d1d3d4;
}
.list-block .list-info {
    padding: 30px;
}
.list-info {
    border: 1px solid #e6e7e8;
}
.list-block .list-info .block-title {
    font-size: 24px;
}
.block-title {
    margin-bottom: 0px;
}
.block-title a {
    color: #000;
}
.list-block .list-info .block-minor {
    font-weight: normal;
    margin-bottom: 10px;
}
.list-info .block-minor {
    color: #6d6e71;
}
.block-minor {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.list-block .list-info .btn {
    padding: 6px 21px 7px;
    font-size: 12px;
    margin-top: 15px;
}
.list-block .list-info a {
    text-decoration: none;
}
.btn-orange, .btn-orange:focus {
    background: #e62a2b;
    color: white;
}
.btn {
    border-radius: 0px;
    border: 0px;
}
.btn {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.list-info p{
  
        color: #808285;
        font-size: 14px;
   
}
.main-block:hover .main-img img {
    transform: scale(1.15);
}
.main-block:hover{
    transform:translateY(-10px);
    box-shadow:0px 4px 8px rgba(0,0,0,0.15);
}
.pages {
    text-align: center;
}
.pages .pagination {
    margin: 40px 0px 0px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pages .pagination li:first-child a, .pages .pagination li:last-child a {
    padding: 6px 16px;
}
.pages .pagination li a {
    border-radius: 0px;
    background: #e6e7e8;
    color: #808285;
    border: 0px;
}
.pages .pagination li a {
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 6px 14px;
}
.pages .pagination li a {
    margin-top: 14px;
}
.pages .pagination li a:hover, .pages .pagination li.active a {
    background: #5a5a5a;
    color: white;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
/* confirm-book */
.margin_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.add_bottom_30 {
    margin-bottom: 30px;
}
.table.cart-list th, .table.options_cart th {
    background-color: #fff;
    text-transform: uppercase;
}
.table td, .table th {
    border-top: none;
}
.table.cart-list td, .table.options_cart td {
    vertical-align: middle;
}
.thumb_cart {
    border: 1px solid #ddd;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    float: left;
}
.thumb_cart img {
    padding: 1px;
    width: 58px;
    height: auto;
}
.table.options_cart td i {
    font-size: 38px;
}
.item_cart {
    display: inline-block;
    margin-top: 20px;
}
.switch-light {
    display: block;
    height: 30px;
    width: 100px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin: auto;
}
.box_style_1 {
    /* background: #fff; */
    /* -webkit-border-radius: 3px; */
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding: 30px;
    position: relative;
    color: #666;
}
.box_style_4 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}
.box_style_4 {
    background: #fff;
    padding: 20px;
    position: relative;
    text-align: center;
}
.box_style_4:before {
    border-bottom: 10px solid #ccc;
    margin-bottom: 0;
}
.box_style_4:after, .box_style_4:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
}
.box_style_2 i, .box_style_4 i {
    font-size: 52px;
    margin-top: 10px;
    display: inline-block;
}
.box_style_2 a.phone, .box_style_4 a.phone {
    font-size: 26px;
    display: block;
    margin-bottom: 20px;
}
.box_style_4:after {
    border-bottom: 10px solid #fff;
    margin-bottom: -1px;
    z-index: 1;
}
.table.table_summary td {
    border-top: 1px solid #ededed;
    width: 50%;
}
.table.table_summary tr.total {
    color: #e04f67;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}