/* reset */
body{
    font-family: 'Fresca', sans-serif;
}
p, a, li{
    font-family: 'Nunito', sans-serif;
}
ul li{
    list-style: none;
    display: inline;
}
a{
    text-decoration: none;
}
.reset-col{
    padding: 0;
}
.reset-border{
    border-radius: 0;
    padding: 5px; 
}
.head-logo, .users-login, .users-login .login-btn{
    display: initial;
}
.head-logo{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 3px;
    margin-right: 120px;
    
    /* text-transform: capitalize; */
}
.top{
    background:  #dfa700;
    color: #fff;
    padding-bottom: 10px; 
}
.top a{
    color: #fff;
}
.login-btn{
    color: #383838;
    background-color: #fff;
    font-weight: bold;
    padding: 7px 10px;
    display: inline;
    border-radius: 3px;
}
.top .mini-menu{
    padding-top: 10px;
}
.top ul li{
    padding: 8px;
    margin: 5px;
}
.mini-menu  .active{
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 3px;
}

/* search-bar */
.search-bar{
    background: #f7f7f7;
    padding: 45px;
}

/* hotel-type */
.hotel-type{
    padding: 45px 0;
}
.hotel-type h3, #popular_destinations h3{
    padding-bottom: 10px;
}
.hotel-type img{
    border-radius:3px;
    padding-bottom: 5px; 
    width: 100%;
    height: 9pc;
    object-fit: cover;
}


#popular_destinations {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 115px;
}
#popular_destinations .c-box {
    position: relative;
}
.img-fluid {
    max-width: 100%;
    /* height: 60%; */
    height: 356px;
    width: 100%;
    object-fit: cover;
}
#popular_destinations .c-box article {
    position: absolute;
    bottom: 0px;
    color: rgb(255, 255, 255);
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    transition: all 0.3s ease 0s;
}
#popular_destinations .c-box span {
    font-size: 18px;
    margin-bottom: 5px;
}
#popular_destinations .c-box .v-a {
    position: absolute;
    bottom: -100px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    left: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#popular_destinations .c-box:hover article .v-a {
    bottom: 12px;
}

.subscribe{
    background-color: #5bcbda;
    color: #fff;
    padding:  40px 20px;
    margin-bottom: 0px;
}
.main-footer{
    color: #fff;
    background-color: #b0a5a5;
    padding: 20px 0;
}

.foot{
    color: #fff;
    background-color: #615e5e;
    padding: 20px 0;
}



.main-footer a:hover{
    background: #000;
    color: #fff;
}
.downloadButton {
    background: #7f7f7f;
    display: inline-block;
    font-size: 30px;
    border-radius: 100px;
    padding: 7px 16px;
    min-width: 160px;
    max-width: 170px;
    max-height: 52px;
    overflow: hidden;
    color: #fff;
    transition: background .3s ease;
    margin-right: 12px;
    box-sizing: border-box;
}
.footerAppIcons__appIcon, .appText {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
}
.footerAppIcons__appIcon {
    height: 22px;
    width: 22px;
    margin-right: 6px;
    fill: #fff;
}
.u-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.appStoreName {
    font-size: 16px;
    display: block;
    color: #fff;
}
.findUs{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.findUs ul li, .find ul li{
    display: block;
    padding-bottom: 4px;
}